@model RealEstateWebsite.Models.Register

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">

    <div class="row">
        <div class="col-md-3">
            <br />
            <!--Filtreleme Kısmı-->
            <form class="form-horizontal">
                <div class="form-group ">
                    <label for="inputEmail3" class="col-sm-4 control-label"> Least</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Least(Price)">
                    </div>
                </div>
                <div class="form-group ">
                    <label for="inputEmail3" class="col-sm-4 control-label">Most</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Most(Prize)">
                    </div>
                </div>
                <div class="form-group ">
                    <label for="inputEmail3" class="col-sm-4 control-label">City</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="City">
                    </div>
                </div>
                <div class="form-group ">
                    <label for="inputEmail3" class="col-sm-4 control-label">District</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="District">
                    </div>
                </div>
                <div class="form-group ">
                    <label for="inputEmail3" class="col-sm-4 control-label">Neighborhood</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Neighborhood">
                    </div>
                </div>
                <div class="form-group ">
                    <label for="inputEmail3" class="col-sm-4 control-label">Situation</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Situation">
                    </div>
                </div>
                <div class="form-group ">
                    <label for="inputEmail3" class="col-sm-4 control-label">Type</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Type">
                    </div>
                </div>



                <div class="form-group ">
                    <label for="inputEmail3" class="col-sm-4 control-label"></label>
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-search" aria-hidden="true"></i> FILTER</button>
                    </div>
                </div>
            </form>
        </div>

        <!--ilan Listesi-->
        <br />
        <div class="col-md-9">
            <div class="thumbnail" style="width:845px;">

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Admin/Index">ADMIN PAGE</a></li>
                        <li class="breadcrumb-item active" aria-current="page">USER ADD</li>
                    </ol>
                </nav>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, "Name", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Surname, "Surname", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, "Email", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Username, "Userame", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group ">
                    <label for="inputEmail3" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-4">
                        @Html.PasswordFor(m => m.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group ">
                    <label for="inputEmail3" class="col-sm-2 control-label">Password Again</label>
                    <div class="col-sm-4">
                        @Html.PasswordFor(m => m.RePassword, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.RePassword, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Add" class="btn btn-primary" />
                        @Html.ActionLink("List Of Users", "GetUsers", null, new { @class = "btn btn-warning" })
                    </div>
                </div>
            </div>
                }
            </div>
        </div>
    </div>
</div>
