@model RealEstateWebsite.Models.Ilan

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.UserName, "User Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <button class="btn btn-success">@User.Identity.Name</button>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Acıklama, "Explanation", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Acıklama, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Acıklama, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fiyat, "Price", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Fiyat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fiyat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OdaSayisi, "Number Of Rooms", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.OdaSayisi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OdaSayisi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BanyoSayisi, "Number Of Bathrooms", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.BanyoSayisi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BanyoSayisi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Kredi, "Credit", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Kredi)
                    @Html.ValidationMessageFor(model => model.Kredi, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Alan, "Area", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Alan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Alan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Kat, "Floor", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Kat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Kat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Telefon, "Phone", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Telefon, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Telefon, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Adres, "Address", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Adres, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Adres, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.SehirId, "City", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @if (ViewBag.sehirlist != null)
                {
                    @Html.DropDownListFor(m => m.SehirId, ViewBag.sehirlist as SelectList, "Choose City", new { @class = "form-control" })
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SemtId, "District", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(m => m.SemtId, new SelectList(""), "Choose District", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MahalleId, "Neighborhood", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(m => m.MahalleId, new SelectList(""), "Choose Neighborhood", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DurumId, "Situation", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @if (ViewBag.durumlist != null)
                {
                    @Html.DropDownListFor(m => m.DurumId, ViewBag.durumlist as SelectList, "Choose Situation", new { @class = "form-control" })
                }
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.TipId, "Type", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(m => m.TipId, new SelectList(""), "Choose Type", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ekle" class="btn btn-primary" />
                @Html.ActionLink("List Of Advertises", "Index", null, new { @class = "btn btn-warning" })
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        $("#SehirId").change(function () {
            var sehirid = $(this).val();
            
            $.ajax({
                type: "Post",
                url: "/Ilan/SemtGetir?SehirId=" + sehirid,
                contentType: "html",
                success: function (response) {
                    
                    $("#SemtId").empty();
                    $("#SemtId").append(response);
                }
            })
        })
    })
</script>
<script>
    $(document).ready(function () {
        $("#SemtId").change(function () {
            var semtid = $(this).val();
            
            $.ajax({
                type: "Post",
                url: "/Ilan/MahalleGetir?SemtId=" + semtid,
                contentType: "html",
                success: function (response) {
                    
                    $("#MahalleId").empty();
                    $("#MahalleId").append(response);
                }
            })
        })
    })
</script>
<script>
    $(document).ready(function () {
        $("#DurumId").change(function () {
            var durumid = $(this).val();
            
            $.ajax({
                type: "Post",
                url: "/Ilan/TipGetir?DurumId=" + durumid,
                contentType: "html",
                success: function (response) {
                    
                    $("#TipId").empty();
                    $("#TipId").append(response);
                }
            })
        })
    })
</script>