@model RealEstateWebsite.Models.Ilan

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Ilan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mahalle.MahalleAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mahalle.MahalleAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tip.TipAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tip.TipAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acıklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acıklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fiyat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OdaSayisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OdaSayisi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BanyoSayisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BanyoSayisi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kredi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kredi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SehirId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SehirId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SemtId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SemtId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DurumId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DurumId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IlanId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
