@model IEnumerable<RealEstateWebsite.Models.Ilan>
@{
    ViewBag.Title = "DurumList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    @Html.Action("Slider", "Home")

                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <!--Slider-->

    </div>
    <div class="row">
        @Html.Action("PartialFiltre", "Home")

        <!--ilan Listesi-->
        <br />
        @foreach (var item in Model)
        {
            var c = 1;
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    @foreach (var rsm in ViewBag.imgs)
                    {
                        if (rsm.IlanId == item.IlanId)
                        {
                            if (@c == 1)
                            {
                                <a href="/Home/Details/@item.IlanId"> <img src="/Content/Images/@rsm.ResimAd" style="height:300px;" alt="..."></a>
                                c++;
                            }

                        }
                    }

                    <div class="caption">
                        <p><strong>@item.Tip.Durum.DurumAd </strong> (@item.Tip.TipAd)</p>
                        <p>@item.Mahalle.Semt.Sehir.SehirAd - @item.Mahalle.Semt.SemtAd</p>
                        <p>
                            <button class="btn" style="background-color:#ff0000; color:white">@item.Fiyat (₺)</button>
                            <button class="btn btn-primary">@item.Alan m<sup>2</sup></button>
                            <button class="btn btn-success pull-right"><i class="fa fa-bed" aria-hidden="true"></i> @item.OdaSayisi</button>
                        </p>
                    </div>
                </div>
            </div>
        }






    </div>
</div>

